Dicionario_aprendizap_insper.pdf
AprendiZap.ipynb
1be_feature_engineering.ipynb
EDA_AprendiZAP_RUP.ipynb
comparacao_proporcao_dispositivos.png
AprendiZap - Grupo3.gslides
AprendiZap - Grupo3.pptx
g3 feedback.xlsx
25-09-06 - EDA_AprendiZAP_RUP.ipynb
1be_feature_engineering-Matheus.ipynb
EDA_AprendiZAP_RUP - Graficos diversos.ipynb
25-09-08.ipynb
README.md
25-09-08 - Daniel.ipynb
25-09-11.ipynb
25-09-12.ipynb
previa.pdf
comandos.txt
Data/
export_rup/
Dados/usuarios_RUP.parquet
Dados/fct_teachers_contents_interactions_classified_2.parquet
